#content{background-color: #F0F0F0}
#breadcrumb{padding: 2px 0px 2px 15px; background-color: #FFFFFF; height: 20px;}
#displaybox{padding: 10px 30px 30px 25px; margin:20px 40px 30px 40px; background-color: #FFFFFF; height: 82%; float:left; width: 90%;border-radius:8px;}

#showbox{padding: 20px; margin: 30px 40px 30px 40px; height: 68%; width: 91%; background-color: #FFFFFF; border-radius:8px;}
table.table{border: 1px solid #e6e6e6; width:100%; color:#666;}
table.table tr{text-align: center;}
table.table tr td{border: 1px solid #e6e6e6; width:10%;}
#td{border: 1px solid #e6e6e6; width:50%;}

#buttonbox{position: absolute; bottom: 60px; left:75%; width:88%;}
#buttonbar{padding:5px 10px 5px 10px;}

.BackButton{border-radius:2px; width: 50px;}