div.menu{background-color:#ffffff;height:31px;width:258px;border: 1px #FFFFFF solid;border-radius:15px;margin:10px 10px 10px 40px;}

/* 所有class为menu的div中的ul样式 */
div.menu ul{list-style:none;margin: 0px;padding: 2px; width: auto; }

/* 所有class为menu的div中的ul中的li样式 */
div.menu ul li{float:left; }

/* 所有class为menu的div中的ul中的a样式*/
div.menu ul li a{background-color:#FFFFFF;border: 1px #FFFFFF solid;border-radius:15px;color: #0099FF;display: block;line-height: 1.35em;padding: 4px 20px;text-decoration: none;white-space: nowrap;}

/* 所有class为menu的div中的ul中的a样式(鼠标移动到元素中的样式) */
div.menu ul li a:hover{background-color:#0099FF;color: #FFFFFF;text-decoration: none;}

/* 所有class为menu的div中的ul中的a样式(鼠标点击元素时的样式) */
div.menu ul li a:active{background-color: #0099FF;color: #FFFFFF;text-decoration: none;}

#menuchecked{background-color: #0099FF; color: #FFFFFF;}